#contact-form {
    width: 60%; /* Amplada del formulari */
    margin: 50px auto; /* Marge superior i inferior automàtic, marge lateral automàtic */
    padding: 20px; /* Farciment intern del formulari */
    background: rgba(255, 255, 255, 0.9); /* Fons blanc amb opacitat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra */
    border-radius: 8px; /* Radi de la vora */
    text-align: center; /* Alineació del text */
    font-family: 'Arial', sans-serif; /* Família de font */
}

#contact-form h2 {
    color: #333; /* Color del títol */
    margin-bottom: 30px; /* Marge inferior del títol */
}

#contact-form form {
    display: flex; /* Estableix el contenidor com a flexible */
    flex-direction: column; /* Direcció dels elements com a columna */
    align-items: center; /* Alinea els elements al centre */
}

#contact-form label {
    margin-bottom: 5px; /* Marge inferior de les etiquetes */
    font-size: 16px; /* Mida de font de les etiquetes */
    color: #666; /* Color de les etiquetes */
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 90%; /* Amplada dels camps d'entrada */
    padding: 12px; /* Farciment intern dels camps d'entrada */
    margin-bottom: 20px; /* Marge inferior dels camps d'entrada */
    border: 1px solid #ccc; /* Vora dels camps d'entrada */
    border-radius: 5px; /* Radi de la vora dels camps d'entrada */
    font-size: 14px; /* Mida de font dels camps d'entrada */
}

#contact-form textarea {
    height: 120px; /* Alçada de l'àrea de text */
    resize: none; /* Evita que l'àrea de text sigui redimensionable */
}

#contact-form input[type="submit"] {
    width: 50%; /* Amplada del botó d'enviar */
    padding: 10px; /* Farciment intern del botó d'enviar */
    background-color: #007bff; /* Color de fons del botó d'enviar */
    color: white; /* Color del text del botó d'enviar */
    border: none; /* Sense vora */
    border-radius: 5px; /* Radi de la vora del botó d'enviar */
    cursor: pointer; /* Canvia el cursor a una mà en passar sobre el botó */
    font-size: 16px; /* Mida de font del botó d'enviar */
    transition: background-color 0.3s; /* Transició suau del color de fons */
}

#contact-form input[type="submit"]:hover {
    background-color: #0056b3; /* Canvia el color de fons en passar sobre el botó */
}

@media (max-width: 768px) {
    #contact-form {
        width: 90%; /* Amplada del formulari en dispositius amb amplada màxima de 768px */
        margin-top: 20px; /* Marge superior del formulari */
    }
}
