@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background: linear-gradient(145deg, #ff4655, #2b2d42);
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus {
    color: #ffd700;
    text-shadow: 0 0 5px #ffd700;
}

main {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

#hero {
    background-image: url('https://wallpapercave.com/wp/wp7282546.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    position: relative;
    color: #ffffff;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#hero h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#latest-news {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.news-link {
    text-decoration: none; /* Remueve subrayado */
    color: inherit;
}

.news-item {
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7);
}

button {
    background-color: #ff4655;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #ff2e3f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

footer {
    text-align: center; /* Centra el contenido del footer */
    padding: 20px 0;
    background-color: #0a0a4f; /* Azul oscuro */
    color: #fff;
    width: 100%;
    border-top: 2px solid #ff4655;
}

footer p {
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    #hero h1 {
        font-size: 3em; /* Reducir tamaño del texto en pantallas medianas */
    }

    nav ul li {
        padding: 0 10px; /* Reducir el espaciado entre elementos del menú */
    }

    .news-item {
        padding: 15px;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 0.9rem; /* Tamaño más pequeño para la navegación móvil */
    }

    main {
        margin: 20px;
        padding: 10px;
    }

    #team img {
        width: 80%; /* Imágenes más grandes para una mejor visibilidad en móviles */
    }

    #hero {
        padding: 60px 20px; /* Reducir padding en móviles */
        background-size: cover; /* Asegurar que la imagen de fondo se vea correctamente */
    }

    #hero h1 {
        font-size: 2.5em; /* Reducir tamaño del título en móviles */
    }

    #latest-news {
        grid-template-columns: 1fr; /* Mostrar artículos en una columna en móviles */
    }

    .news-item {
        width: 90%;
        margin-bottom: 20px; /* Separación extra entre artículos en móviles */
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 0.8rem; /* Tamaño aún más pequeño para navegación en pantallas muy pequeñas */
    }

    #hero h1 {
        font-size: 2em; /* Reducir aún más el tamaño de la fuente */
    }

    button {
        padding: 8px 15px; /* Botón más compacto para dispositivos móviles pequeños */
    }
}
