@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background: linear-gradient(145deg, #ff4655, #2b2d42);
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

header img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus {
    color: #ffd700;
    text-shadow: 0 0 5px #ffd700;
}

main {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

#hero {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5562ed28-e365-4049-855f-08212cbd0477/deywt2s-44fab34a-e668-43b6-adc5-ec49c07cf348.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU1NjJlZDI4LWUzNjUtNDA0OS04NTVmLTA4MjEyY2JkMDQ3N1wvZGV5d3Qycy00NGZhYjM0YS1lNjY4LTQzYjYtYWRjNS1lYzQ5YzA3Y2YzNDguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.I4tQH08__flz7aWhB1YyupWvz7fdEGGEwRpfMDLezgM');
    background-size: 100% auto;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    position: relative;
    color: #ffffff;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#hero h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#latest-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.news-item {
    width: 300px;
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease-in-out;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7);
}

.news-item:hover img {
    transform: scale(1.05);
}

button {
    background-color: #ff4655;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

button:hover {
    background-color: #ff2e3f;
}

footer {
    text-align: center; /* Centra el contenido del footer */
    padding: 20px 0;
    background-color: #0a0a4f; /* Azul oscuro */
    color: #fff;
    width: 100%;
    border-top: 2px solid #ff4655;
}

footer p {
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 0.9rem; /* Mida de font més petita per a la navegació mòbil */
    }

    main {
        margin: 20px;
        padding: 10px;
    }

    #team img {
        width: 80%; /* Imatges més grans per a una millor llegibilitat en mòbils */
    }

    #hero {
        padding: 60px 20px; /* Reduir el padding per a mòbils */
        background-size: cover; /* Assegurar que la imatge de fons es vegi bé en mòbils */
    }

    #hero h1 {
        font-size: 2.5em; /* Reduir la mida de la font del títol per a mòbils */
    }

    .news-item {
        width: 90%; /* Fer les notícies més amples per a mòbils */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    nav ul li a {
        font-size: 0.8rem; /* Reduir la mida de la font encara més per a pantalles petites */
    }

    #hero h1 {
        font-size: 2em; /* Reduir més la mida de la font per a pantalles petites */
    }
}
