@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínimo de alto de la ventana */
}

header {
    background: linear-gradient(145deg, #ff4655, #2b2d42);
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

header img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

header img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus {
    color: #ffd700;
    text-shadow: 0 0 5px #ffd700;
}

main {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1;
}

#hero {
    background-image: url('https://w.wallha.com/ws/8/pFLjC5Zf.png');
    background-size: 100% auto;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
    position: relative;
    color: #ffffff;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#hero h1 {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#latest-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.news-item {
    width: 300px;
    background-color: #222222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    overflow: hidden;
}

.news-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease-in-out;
}

.news-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7);
}

.news-item:hover img {
    transform: scale(1.05);
}

button {
    background-color: #ff4655;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
}

button:hover {
    background-color: #ff2e3f;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2b2d42;
    color: #fff;
    font-size: 0.9em;
    background-image: url('https://wallpapercave.com/wp/wp7282546.jpg');
    background-size: cover;
    flex-shrink: 0; 
}
