/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

header {
    background-color: #900;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header img {
    max-width: 100px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #ff6347;
    color: #000;
    border-radius: 5px;
}

#hero {
    background-image: url('https://wallpapercave.com/wp/wp7282546.jpg');
    background-size: cover;
    background-position: center;
    padding: 200px 20px;
    text-align: center;
    position: relative;
}

#hero:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#hero h1 {
    position: relative;
    z-index: 2;
    color: #ff6347;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #000;
}

#latest-news h2 {
    margin-top: 40px;
    color: #ff6347;
    font-size: 2.5em;
    text-align: center;
}

.news-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news-item {
    background-color: #292929;
    margin: 20px;
    padding: 20px;
    width: calc(50% - 40px);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(255, 0, 0, 0.5);
}

.news-item h3, .news-item p {
    color: #fff;
}

button {
    background-color: #ff6347;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #db504a;
}

footer {
    background-color: #900;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        font-size: 1em;
        padding: 8px 10px;
    }

    #hero {
        padding: 100px 20px;
    }

    .news-item {
        width: calc(100% - 40px);
    }
}
